.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: rgb(10, 97, 124);
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
}

.loader::before {
    background-color: #FF3D00;
    transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animloader {
    50% {
        transform: scale(1) translate(-50%, -50%);
    }
}

.header {
    width: 100%;
    height: 80px;
    background: rgb(235, 235, 235);
    padding: 10px;
    box-sizing: border-box;
    /* position: fixed;
    top: 0;
    left: 0; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
    position: relative;
}

.header img {
    width: 240px;
    position: absolute;
    left:calc(50vw - 120px);
}


h1 {
    text-align: center;
    font-size: x-large;
    color: gray;
}

.container {
    margin: auto;
    width: 70%;
    padding-top: 10px;
    /* margin-top: 100px; */
    padding-bottom: 10px;
}

.textarea,
select {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 5px;
    width: 100%;
    text-align: justify;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
}



.textarea-translate{
    width: 100%;
    height: 250px;
    text-align: justify;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 10px;
    resize: none;
    
}  

.select{
    border: none;
    box-shadow: none;
    width: 100px;
}

.select:focus{
    outline:none
}



span {
    color: gray;
    margin-right: 5px;
}

/* Styling upload file input */

.upload-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-btn-wrapper span {
    padding: 5px;
    background: rgb(235, 235, 235);
    border-radius: 5px;
    margin: 5px;
    color: rgb(78, 78, 78);
    display: inline-table;
}

p {
    color: rgb(78, 78, 78);
}





.dropzone {
    /* height: 141px; */
    /* width: 100% ; */
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 19px;
    /* display: none; */

}

.dropzone:hover {
    background: rgb(235, 235, 235);
}



.percent {
    margin-left: 10px;
}

h4{
    margin: 0;
}

#fileDropReff {
    opacity: 0;
    position: absolute;
    /* z-index: 2; */
    width: 1%;
    top: 0;
    left: 0;

}

button {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.readme {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

select {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.general-keyword {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 8px;
    padding: 5px;
}




button:hover {
    background: rgb(235, 235, 235);
}

.summary-keyword {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.summary,
.keyword {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 5px;
    text-align: justify;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
}



.dialog {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(52, 53, 53, 0.137);
}

.dialog-message {
    border-radius: 8px;
    padding: 10px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: flex;
    justify-content: space-between; */
    width: 30vw;
    margin: auto;
    position: absolute;
    top: 40vh;
    left: 35vw
}

.dialog-message button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(228, 228, 228);
    float: right;
}

.dialog-message h3 {
    color: gray;
}

.dialog-translator{
    border-radius: 8px;
    padding: 10px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 70vw;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 20vh;
    left: 15vw
}

.keyword {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
}
/* 
.keyword span {
    padding: 5px;
    background: rgb(235, 235, 235);
    border-radius: 5px;
    color: rgb(78, 78, 78);
    margin: 5px;
    display: inline-table;
} */

.key-grey{
    padding: 5px;
    background: rgb(235, 235, 235);
    border-radius: 5px;
    color: rgb(78, 78, 78);
    margin: 5px;
    display: inline-table;
}

.key-red{
    padding: 5px;
    background: rgb(255, 224, 222);
    border-radius: 5px;
    color: rgb(78, 78, 78);
    margin: 5px;
    display: inline-table;
}

.key-blue{
    padding: 5px;
    background: rgb(222, 231, 255);
    border-radius: 5px;
    color: rgb(78, 78, 78);
    margin: 5px;
    display: inline-table;
}

.icons{
    margin-top: 10px;
}

.icons img{
    cursor: pointer;
    /* margin-right: 20px; */
    width: 20px;
    /* margin: 10px; */
    padding: 10px;
    border-radius: 5px;
}

.icons img:hover{
    background: rgb(235, 235, 235);
}