
<div class="header">
	<img src="assets/logo.png" alt="">
</div>
<div class="container" #container>
	<h1>The Summarizer</h1>
	<!-- Select a model -->
	<div style="margin-bottom:10px; display: flex; justify-content: space-between; align-items: center;">
		<select style="width:350px; " (change)="onSelectModel($event)" #select>
			<option selected hidden disabled>Select Model</option>
			<option value="facebook/bart-large-cnn">facebook/bart-large-cnn</option>
			<option value="tuner007/pegasus_summarizer">tuner007/pegasus_summarizer</option>
			<option value="t5-large">t5-large</option>
			<!-- T5 “Text-to-Text Transfer Transformer” -->
		</select>
		<a class="readme" href="https://github.com/obtic-scai/Summarization" target="_blank">README</a>
	</div>
	
	<div>
		<h4>Summary percentage</h4>
		<div style="padding-bottom:20px; display: flex; justify-content: space-between;">
			<input type="range" value="20" min="10" max="50" style="width: 95%;" #ranger (input)="rangeChange(ranger.value)">
			{{max_length}} %
		</div>
	</div>
	


	<!-- Textarea -->
	<div style="margin-bottom: 15px;">
		<textarea placeholder="Enter text here, max 400 words..." (input)="changeText()" rows="10" #text></textarea>

		<div style="display: flex; justify-content: end;" *ngIf="!upload">
			<span>{{textWord}}</span>
			<span>Words ||</span>
			<span>{{character}} </span>
			<span>Characters</span>
		</div>
	</div>
	
	

	<!-- Buttons -->
	<div style="margin-bottom: 20px; justify-content: space-between; display: flex;">
		<!-- Upload file -->
		<div class="upload-btn-wrapper" style="display: flex; ">
			<label for="fileDropReff" class="dropzone">
				<h5>Upload</h5>
				<input type="file" accept=".txt, .xml" (change)="uploadFile($event)" #inputFile id="fileDropReff">
			</label>
			<span>{{fileName}}</span>
		</div>
		<!-- Summarize && Reset button -->
		<div>
			<button (click)="summarize()" style="margin-right: 10px">Summarize</button>
			<button (click)="clearText()">Reset</button>
		</div>
	</div>
	<hr style="box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;">

	<!-- Spinner -->
	<span *ngIf="!resume && spinner" class="loader"></span>

	<!-- General keywords for xml file -->
	<div *ngIf="extension ==='xml' && upload && resume">
		<h3>General Keywords</h3>
		<div class="keyword">
			<span *ngFor="let k of keyWord">{{k}}</span>
		</div>
	</div>

	<!-- Displaying file xml result -->
	<div *ngIf="extension ==='xml' && upload && resume">
		<div class="summary-keyword" *ngFor="let item of allSummaries">
			<!-- Summary -->
			<div style="width: 63%;" class="summary">
				<h4>{{item.title}}</h4>
				{{item.summary.summary}}
			</div>

			<!-- Keywords -->
			<div style="width: 35%;" class="keyword">
				<h4 style="width: 100%;">Keywords</h4>
				<span *ngFor="let keyword of item.summary.keywords"> {{keyword}} </span>
			</div>
		</div>
		<div>
			<span>{{resumeWord}}</span>
			<span>Words ||</span>
			<span>Computation time on cpu: </span>
			<span>{{processTime}} s</span>
		</div>
	</div>

	<!-- Displaying file text result -->
	<div *ngIf="extension ==='txt' && upload && resume">
		<div class="summary-keyword" >
			<!-- Summary -->
			<div style="width: 63%;" class="summary">
				<h4>Summary</h4>
					{{resume}}
			</div>
			
			<!-- Keywords -->
			<div style="width: 35%;" class="keyword">
				<h4 style="width: 100%;">Keywords</h4>
					<span *ngFor="let keyword of keywords"> {{keyword}} </span>
			</div>
		</div>
		<div>
			<span>{{resumeWord}}</span>
			<span>Words ||</span>
			<span>Computation time on cpu: </span>
			<span>{{processTime}} s</span>
		</div>
	</div>

	<!-- Displaying text result -->
	<div *ngIf="resume && !upload">
		<div class="summary-keyword" >
			<!-- Summary -->
			<div style="width: 63%;" class="summary">
				<h4>Summary</h4>
					{{resume}}
			</div>
			
			<!-- Keywords -->
			<div style="width: 35%;" class="keyword">
				<h4 style="width: 100%;">Keywords</h4>
				
					<span *ngFor="let keyword of keywords"> {{keyword}} </span>
				
			</div>
		</div>
		<div>
			<span>{{resumeWord}}</span>
			<span>Words ||</span>
			<span>Computation time on cpu: </span>
			<span>{{processTime}} s</span>
		</div>
	</div>

</div>


<!-- Modal alert message -->
<div *ngIf="isModel" class="dialog">
	<div class="dialog-message">
		<h3>Choose a model please!</h3>
		<button (click)="closeDialog()">OK</button>
	</div>
</div>

